@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');   

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    text-align: center;
    background-image: url(imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(1.5px);
    

    
}

#meme-image-container {
    margin: auto;
    position: relative;
    background-color: white;
    height: 500px;
    width: 600px;
    
}

.inicial {
    border: 1px solid black;
}

#meme-insert {
    width: 118px;
    overflow: hidden;
    margin: 30px;
}

.botao {
    margin: 15px;
    padding: 2%;
    
}

/* Kevlerson Eller */
#meme-image {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    
}



.meme {
    height: 500px;
    width: 600px;
}

#meme-text {
    position: absolute;
    text-align: center;
    word-break: break-all;
    top: 400px;
    left: 10px;
    right: 10px;
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
    color: white;
    font-family:'Bangers', cursive;
}

#fire {
    background-color: red;
}

#water {
    background-color: blue;
}

#earth {
    background-color: green;
}

.fire {
    border: 3px dashed red ;
}

.water {
    border: 5px double blue ;
}

.earth {
    border: 6px groove green
}

#miniaturas img {
    height: 80px;
    width: 80px;
    margin: 8px;
    padding-top: 15px;
}

#miniaturas img:hover {
    height: 83px;
    width: 83px;


}